/venv/
.idea
exercises.py
main-day1.py
main-day2.py
main-day3.py
main-day4.py
main-day5.py
main-day6.py
main-day7.py
main-day8.py
main-day9.py
main-day10.py
main-day11.py
main-day12.py
main-day13.py
main-day14.py
output.zip
test.py
weather.csv
module_csv.py
module_glob.py
module_shutil.py
module_webbrowser.py
journal
bonus
files